<div class="centered-content">
    <div class="modal-box">
        <h2 class="title new-list-title">
            Create a new List
        </h2>
        <div class="field is-grouped new-list-input-container">
            <p class="control is-expanded">
                <!-- using a template reference variable with # to store data locally and pass it in a func -->
                <input #listTitleInput class="input is-medium" type="text" placeholder="Enter Title">
            </p>
            <p class="control">
                <!-- now using that template reference variables value to pass it -->
                <a class="button is-info is-medium" (click)="createList(listTitleInput.value)">  
                    Create List
                </a>
            </p>
        </div>
        <!-- <button class="go-back-button" (click)="navigateToMainPage()"> -->
        <!-- <button class="go-back-button" (click)="navigateTo('/lists')"> -->
        <!-- <button class="go-back-button button" (click)="navigateTo('/')"> -->
        <button class="go-back-button button" routerLink="/">
            Go Back
        </button>
    </div>
</div>
