@import '../../../main-styles.scss';


.task-manager-container{
    border-radius: 8px;
    // border: 2px solid black;
    display: flex;
    width: 100%;
    height: 100%;
    max-width: 1000px;
    max-height:590px;
    // background-color: #111315;
    box-shadow: 0px 5px 10px 0px rgba(0,255,255,0.3);

    
}

.sidebar{
    display: flex;
    flex-direction: column;
    width: 250px;
    background-color: #24272a;
    padding: 20px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border: 1px solid rgb(62, 59, 59);


}

.task-list-container{
    display: flex;
    flex-direction: column;
    flex-grow: 1; // takes remaining empty space in its parent element
    background-color: #24272a;
    padding: 20px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    // border: 1px solid gray;
    height: 100%;
    border: 1px solid rgb(62, 59, 59);

    .topbar{ 
        display: flex;
        // border: 2px solid white;
        align-items: center;
        .title{
            flex-grow:1;
        }
    }
}

.title{
    font-family: 'Lato';
    font-size: 28px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 20px;
    // color: #0075ff;
    // margin-bottom: 5px;
    
}

.list-menu{
    // border: 2px solid blue;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    flex-grow: 1;


    .list-menu-item{
        display: flex;
        font-family: 'Lato';
        border: 1px solid rgb(62, 59, 59);
        color: rgb(184, 181, 181);
        gap: 10px;
        align-items: center;
        padding: 10px 15px;// tb lr
        background-color: #111315;
        margin-bottom: 5px;
        border-radius: 7px;
        width: 100%;

        &:hover{
            // background-color: #262a2e;
            border: 1px solid rgba(93, 93, 255, 0.6);

        }

        &.is-active{
            background-color: #2d3135;
            p{
                color:  #c0d6ee; 
            }
            border: 1px solid rgb(0,209,178,0.7);
                    box-shadow:
            0 1px 1px hsl(0deg 0% 0% / 0.075),
            0 2px 2px hsl(0deg 0% 0% / 0.075),
            0 4px 4px hsl(0deg 0% 0% / 0.075),
            0 8px 8px hsl(0deg 0% 0% / 0.075),
            0 16px 16px hsl(0deg 0% 0% / 0.075)
            ;

        }
    }
}

.create-task-btn{
    background-color: #046bf3;
    color: white;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 10px;
    border-radius: 5px;
    opacity: 90%;
}


.task-menu{

    // height: 100px;
    flex-grow: 1;
    margin-top: 25px;

    .task{

        // border: 2px solid white;
        display: flex;
        align-items: center;

        background-color: #111315;
        padding: 10px 15px;
        margin-bottom: 10px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

        .task-text{
            flex-grow: 1;
        }
        .task-buttons-item{
            // margin: 1px;
            // border: 2px solid white;
            margin: 1px;
            opacity: 0; // visible only on hovering the task item, which is not completed
            transition: opacity 0.4s ease;
        }

        // properties that work when task is not complete
        &:not(.complete){
            cursor: pointer;
            transition: transform 0.3s ease;
            &:active{
                transform: scale(95%);
            }

            &:hover{
                .task-buttons-item{
                    opacity: 1;
                }
            }
            
        }

        // properties for when task is completed
        &.completed{
            text-decoration: line-through;
            opacity: 0.7;
        }
    }
}

.add-task-button-container{
    display: flex;
    justify-content: flex-end;

    .add-task-button{
        box-shadow: rgba(177, 166, 166, 0.24) 0px 3px 8px;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        transition: background-color 0.4s ease, color 0.4s ease;

        &:hover{
            color: black;
            background-color: rgb(0 209 178);
            box-shadow:  rgb(0, 209, 178, 0.3) 0px 13px 27px -5px, rgba(93, 158, 153, 0.3) 0px 8px 16px -8px;
        }
    }
}